@use "breakpoints" as *;

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .tech-title {
            font-weight: bold;
            font-size: 30px;
            margin-bottom: -5px;
        }
    }

    @include breakpoint($bp-sm){
        padding: 30px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-left: 18px;

        div {
            align-items: start;
        }
    }

    @include breakpoint($bp-md){
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-left: 55px;
    }
}